{% extends 'base.html.twig' %}

{% block title %}
    {{employe.prenom}}{{' '}}{{employe.nom}} - TaskLinker
{% endblock %}

{% block header_content %}
    <div class="flex-header">
        <h1>{{employe.prenom}}{{' '}}{{employe.nom}}</h1>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <div class="form-flex">
            <div>
                {{ form_label(form.date_entree) }}
                {{ form_widget(form.date_entree) }}
            </div>
            <div>
                {{ form_label(form.statut) }}
                {{ form_widget(form.statut) }}
            </div>
        </div>
        <div>
            <button type="submit" class="button button-submit">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
